<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name='Ccc_HelloWorld' setup_version='1.0.0'></module> 
    <!-- this name will show in list of module in cmd (php bin/magento module:status) -->
</config>